<style>
  body {
    min-height: 100vh;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
  }

  html {
    height: fill-available;
    height: -webkit-fill-available;
  }
</style>

<div class="flex flex-col w-full overflow-y-scroll">
  <.topics_header tab={@tab} last_model={@last_model} latest_model={@latest_model} />
  <div
    class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 gap-4 m-4"
    id="topics"
    phx-update="stream"
  >
    <.topic_card
      :for={{id, topic} <- @streams.topics}
      topic={topic}
      to_model={@latest_model}
      id={id}
      mode={@tab}
    />
  </div>

  <.modal :if={@live_action in [:edit]} id="topic-modal" show on_cancel={JS.patch(~p"/topics")}>
    <.live_component
      module={DiscussitWeb.TopicLive.FormComponent}
      id={@topic.id}
      title={@page_title}
      action={@live_action}
      topic={@topic}
      patch={~p"/topics"}
    />
  </.modal>
  <.modal :if={@live_action == :train} id="training-modal" show on_cancel={JS.patch(~p"/topics")}>
    <.live_component
      module={DiscussitWeb.TopicLive.TrainingFormComponent}
      id="training-form"
      title={@page_title}
      patch={~p"/topics"}
      model_id={if(@latest_model, do: @latest_model.id, else: nil)}
      account_id={@current_user.selected_account.id}
      current_user={@current_user}
    />
  </.modal>
</div>
