<div class="flex flex-col w-full">
  <div class="flex flex-row w-full bg-base-300 items-center justify-between py-2 px-4 sticky top-0 z-10 mb-2">
    Topics
    <div>
      <.button
        :if={!@model_exists?}
        class={["btn-sm", if(@analyzer_available?, do: "btn-success", else: "btn-disabled")]}
        phx-disable-with="Generating ..."
      >
        <.link phx-click="generate-topics">
          Generate
        </.link>
      </.button>

      <.button :if={@model_exists?} class="btn-sm btn-success">
        <.link
          phx-click="regenerate-labels"
          data-confirm="Are you sure? Regenerating topics will relabel all your existing topics."
        >
          Relabel
        </.link>
      </.button>

      <.button :if={@model_exists?} class="btn-sm btn-success">
        <.link
          phx-click="remove-topics"
          data-confirm="Are you sure? Regenerating topics will delete all your existing topics."
        >
          Remove
        </.link>
      </.button>
    </div>
  </div>

  <.table
    id="topics"
    rows={@streams.topics}
    row_click={fn {_id, topic} -> JS.navigate(~p"/topics/#{topic}") end}
  >
    <:col :let={{_id, topic}} label="Title"><%= topic.title || topic.model_title %></:col>
    <:col :let={{_id, topic}} label="Description"><%= topic.description %></:col>
    <:col :let={{_id, topic}} label="Sentiment"><%= topic.sentiment %></:col>
    <:action :let={{_id, topic}}>
      <div class="sr-only">
        <.link navigate={~p"/topics/#{topic}"}>Show</.link>
      </div>
      <.link patch={~p"/topics/#{topic}/edit"}>Edit</.link>
    </:action>
    <:action :let={{id, topic}}>
      <.link
        phx-click={JS.push("delete", value: %{id: topic.id}) |> hide("##{id}")}
        data-confirm="Are you sure?"
      >
        Delete
      </.link>
    </:action>
  </.table>

  <.modal :if={@live_action in [:edit]} id="topic-modal" show on_cancel={JS.patch(~p"/topics")}>
    <.live_component
      module={DiscussitWeb.TopicLive.FormComponent}
      id={@topic.id}
      title={@page_title}
      action={@live_action}
      topic={@topic}
      patch={~p"/topics"}
    />
  </.modal>
</div>
