<style>
  body {
    min-height: 100vh;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
  }

  html {
    height: fill-available;
    height: -webkit-fill-available;
  }
</style>

<div class="flex flex-col w-full overflow-y-scroll">
  <div class="flex flex-row w-full bg-base-300 items-center justify-between py-2 px-4 sticky top-0 z-10">
    <div class="flex flex-row items-center gap-x-8">
      Topics
      <div role="tablist" class="tabs tabs-bordered">
        <.link
          navigate={~p"/topics?tab=index"}
          role="tab"
          class={["tab", if(@tab == :index, do: "tab-active")]}
        >
          Index
        </.link>
        <.link
          :if={@last_model}
          navigate={~p"/topics/?#{[model_id: @last_model.id]}&tab=migrate"}
          role="tab"
          class={["tab", if(@tab == :migrate, do: "tab-active")]}
        >
          Migrate
        </.link>
        <a role="tab" class="tab">Heirarchy</a>
      </div>
    </div>
    <div>
      <.link
        :if={@latest_model}
        class="btn btn-sm"
        phx-click="regenerate-labels"
        data-confirm="Are you sure? Regenerating topics will relabel all your existing topics."
      >
        Relabel
      </.link>

      <.link class="btn btn-sm" patch={~p"/topics/train"} phx-click={JS.push_focus()}>
        Train
      </.link>

      <.link
        :if={@latest_model}
        class="btn btn-sm"
        phx-click="reset-model"
        data-confirm="This action will delete all automatically generated topics that haven't been used in your conversations."
      >
        Reset
      </.link>
    </div>
  </div>

  <div
    class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 gap-4 m-4"
    id="topics"
    phx-update="stream"
  >
    <div :for={{id, topic} <- @streams.topics} id={id} class="card bg-base-200 shadow-xl w-full">
      <div class="card-body">
        <div class="flex flex-row">
          <h2 class="card-title line-clamp-2">
            <%= topic.title || topic.model_title %>
          </h2>
        </div>
        <p class="line-clamp-6"><%= topic.description %></p>
        <.keyword_badges topic={topic} />
        <div class="card-actions">
          <.link
            id={"edit-topic-#{topic.id}"}
            class="btn btn-square btn-sm btn-outline my-0"
            patch={~p"/topics/#{topic}/edit"}
          >
            <.icon name="hero-pencil-square" class="w-5 h-5" />
          </.link>
          <.link
            :if={@tab == :index}
            class="btn btn-square btn-sm btn-outline my-0"
            patch={~p"/topics/#{topic}"}
          >
            <.icon name="hero-magnifying-glass" class="w-5 h-5" />
          </.link>
          <.link
            :if={@tab == :migrate}
            class="btn btn-square btn-sm btn-outline my-0"
            patch={~p"/topics/#{topic}/show/migrate/#{@latest_model}"}
          >
            <.icon name="hero-magnifying-glass" class="w-5 h-5" />
          </.link>
          <.link
            class="btn btn-square btn-sm btn-outline my-0"
            phx-click="summarize-topic"
            phx-value-topic-id={topic.id}
          >
            <.icon
              :if={topic.summarizer_status == :not_started}
              name="hero-document-text"
              class="w-5 h-5"
            />
            <span
              :if={topic.summarizer_status != :not_started}
              class="loading loading-spinner loading-xs"
            >
            </span>
          </.link>
        </div>
      </div>
    </div>
  </div>

  <.modal :if={@live_action in [:edit]} id="topic-modal" show on_cancel={JS.patch(~p"/topics")}>
    <.live_component
      module={DiscussitWeb.TopicLive.FormComponent}
      id={@topic.id}
      title={@page_title}
      action={@live_action}
      topic={@topic}
      patch={~p"/topics"}
    />
  </.modal>
  <.modal :if={@live_action == :train} id="training-modal" show on_cancel={JS.patch(~p"/topics")}>
    <.live_component
      module={DiscussitWeb.TopicLive.TrainingFormComponent}
      id="training-form"
      title={@page_title}
      patch={~p"/topics"}
      model_id={if(@latest_model, do: @latest_model.id, else: nil)}
      account_id={@current_user.selected_account.id}
      current_user={@current_user}
    />
  </.modal>
</div>
