<div class="flex flex-col overflow-y-hidden">
  <div class="flex flex-row w-full bg-base-300 items-center justify-between py-2 px-4 sticky top-0 z-10">
    <div class="flex flex-row items-center gap-x-8">
      Migrate topic <%= @topic.title %> to new topic
    </div>
  </div>
  <div class="flex flex-col m-4 overflow-y-hidden">
    <.back class="pb-4" navigate={~p"/topics?model_id=#{@topic.model_id}&tab=migrate"}>
      Back to migrate
    </.back>
    <div class="flex gap-x-4 flex-grow overflow-y-hidden">
      <div name="last-topic" class="flex flex-col gap-y-8 w-1/2 overflow-y-hidden">
        <.topic_card show_actions={false} topic={@topic} />
        <.statements_table
          statements={@streams.old_statements}
          id="old_statements"
          title="Labelled Statements"
        />
      </div>
      <div name="last-topic" class="flex flex-col gap-y-8 w-1/2 overflow-y-hidden">
        <div class="card bg-base-300">
          <div class="card-body">
            <div class="card-title flex justify-between">
              Pick the matching topic
              <a :if={@to_topic_id} class="btn btn-error btn-sm" phx-click="unmatch">
                <.icon name="hero-trash" class="w-5 h-5" /> Unmatch
              </a>
            </div>
            <ul class="menu bg-base-300 w-full p-0">
              <li :for={new_topic <- Enum.sort(@new_topics, &(&1.score > &2.score))}>
                <a
                  class={if(@to_topic_id == new_topic.id, do: "active", else: "")}
                  phx-click="select-to-topic"
                  phx-value-topic-id={new_topic.id}
                >
                  <.icon
                    :if={@to_topic_id == new_topic.id}
                    name="hero-check-circle"
                    class="w-5 h-5 bg-success"
                  />
                  <span class="pr-2"><%= floor(new_topic.score * 100) %>%</span>
                  <div />
                  <span><%= Keywords.to_string(new_topic) %></span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <.statements_table
          statements={@streams.new_statements}
          id="new_statements"
          title="New Statements"
        />
      </div>
    </div>
  </div>
</div>
