<div class="flex flex-col overflow-y-hidden">
  <div class="flex flex-row w-full bg-base-300 items-center justify-between py-2 px-4 sticky top-0 z-10">
    <div class="flex flex-row items-center gap-x-8">
      Migrating topic <%= @topic.title %> to new topic
    </div>
  </div>
  <div class="flex flex-col m-4 overflow-y-hidden">
    <div class="flex justify-between">
      <.back class="pb-4" navigate={~p"/topics?model_id=#{@topic.model_id}&tab=migrate"}>
        Back to migrate
      </.back>
      <.link
        :if={@next_topic}
        navigate={~p"/topics/#{@next_topic}/show/migrate/#{@model_id}"}
        class="text-sm font-semibold leading-6  hover:"
      >
        Next unmigrated topic <.icon name="hero-arrow-right-solid" class="w-3 h-3" />
      </.link>
    </div>
    <div class="flex gap-x-4 flex-grow overflow-y-hidden">
      <div name="last-topic" class="flex flex-col gap-y-8 w-1/2 overflow-y-hidden">
        <.show_topic_card show_actions={false} topic={@topic} />
        <.statements_table
          statements={@streams.old_statements}
          id="old_statements"
          title="Labelled Statements"
        />
      </div>
      <div name="last-topic" class="flex flex-col gap-y-8 w-1/2 overflow-y-hidden">
        <div class="card bg-base-300">
          <div class="card-body">
            <div class="card-title flex justify-between">
              Pick the matching topic
              <div :if={@to_topic_id} class="flex gap-x-4">
                <a class="btn btn-success btn-sm" phx-click="copy">
                  <.icon name="hero-document-duplicate" class="w-5 h-5" /> Copy
                </a>
                <a class="btn btn-error btn-sm" phx-click="unmatch">
                  <.icon name="hero-trash" class="w-5 h-5" /> Unmatch
                </a>
              </div>
            </div>
            <ul class="steps">
              <li data-content="+" class="step step-primary">Created</li>
              <li data-content="⮂" class={["step", if(@to_topic_id != nil, do: "step-primary")]}>
                Matched
              </li>
              <li
                data-content="✓"
                class={["step", if(@topic.to_topic != nil, do: "step-primary")]}
              >
                Copied
              </li>
            </ul>
            <ul class="menu flex-col flex-nowrap bg-base-300 w-full p-0 max-h-80 overflow-y-auto w-full">
              <li
                :for={new_topic <- Enum.sort(@new_topics, &(&1.score > &2.score))}
                class="w-full"
              >
                <a
                  class={["w-full", if(@to_topic_id == new_topic.id, do: "active", else: "")]}
                  phx-click="select-to-topic"
                  phx-value-topic-id={new_topic.id}
                >
                  <span class="pr-2"><%= floor(new_topic.score * 100) %>%</span>
                  <.keyword_badges topic={new_topic} />
                </a>
              </li>
            </ul>
          </div>
        </div>
        <.statements_table
          statements={@streams.new_statements}
          id="new_statements"
          title="New Statements"
        />
      </div>
    </div>
  </div>
</div>
