<div class="flex flex-col overflow-y-scroll min-w-fit h-screen">
  <div id="conversations" phx-update="stream">
    <div
      :for={{id, conversation} <- @streams.conversations}
      class="w-full px-4 py-2 conversations hover:bg-base-200"
      id={id}
    >
      <%= case conversation do %>
        <% %{participants: [first, second]} = conversation -> %>
          <.link phx-click={JS.patch(~p{/conversations/#{conversation.id}})}>
            <div class="flex flex-col">
              <div class="flex flex-row">
                <.participant participant={first} class="font-bold" />
              </div>
              <div class="flex flex-row">
                <.participant participant={second} class="font-light" />
              </div>
            </div>
          </.link>
        <% %{participants: participants} = conversation -> %>
          <div class="flex flex-col">
            <.link phx-click={JS.patch(~p{/conversations/#{conversation.id}})}>
              <span class="font-bold"><%= Enum.count(participants) %> participants</span>
              <div class="flex flex-row">
                <.participant participant={Enum.at(participants, 0)} class="font-bold" />
                <span class="ml-1">+<%= Enum.count(participants) - 1 %></span>
              </div>
            </.link>
          </div>
      <% end %>
    </div>
  </div>
  <div
    :if={!@end_of_timeline?}
    id="last-element"
    phx-hook="ElementVisible"
    class="pb-[calc(100vh)]"
  />
  <div :if={@end_of_timeline?} id="last-element" class="mx-2">Last Conversation</div>
</div>
<div class="flex flex-col overflow-y-scroll overflow-x-hidden flex-grow">
  <div class="flex w-full bg-base-300 justify-between py-2 px-4 sticky top-0 z-10 mb-2">
    <.participant_header conversation={@conversation} />
    <.transcribe_conversation_button
      conversation={@conversation}
      transcription_status={@transcription_status}
      account={@current_user.selected_account}
    />
    <div class="flex flex-row items-center space-x-4">
      <details :if={length(@summarizers) > 0} class="dropdown" id="summarizers-dropdown">
        <summary class="m-1 btn btn-xs">
          <%= if(@summarizer, do: @summarizer.name, else: "Summarizer") %>
          <.icon name="hero-chevron-down" class="w-4 h-4" />
        </summary>
        <ul class="p-2 shadow menu dropdown-content z-[1] bg-base-100 rounded-box w-52">
          <li :for={summarizer <- @summarizers}>
            <.link
              patch={~p"/conversations/#{@conversation}?summarizer_id=#{summarizer.id}"}
              id={"summarizer-button-#{summarizer.id}"}
            >
              <%= summarizer.name %>
            </.link>
          </li>
        </ul>
      </details>
      <div :if={@summarizer} class="join">
        <.link
          :if={
            !@conversation_summarizer ||
              (@conversation_summarizer && @conversation_summarizer.status in [nil, :idle, :done])
          }
          class="btn btn-xs btn-secondary join-item"
          id="start-summarizer"
          phx-click="summarize"
          phx-value-summarizer-id={@summarizer.id}
          class="btn btn-xs btn-secondary join-item"
        >
          <.icon name="hero-play" class="w-4 h-4" />
        </.link>
        <.link
          :if={@conversation_summarizer && @conversation_summarizer.status == :waiting}
          id="start-summarizer"
          class="btn btn-xs btn-secondary join-item btn-disabled"
        >
          <.icon name="hero-play" class="w-4 h-4 btn-disabled" />
        </.link>
        <.link
          :if={@conversation_summarizer && @conversation_summarizer.status == :busy}
          id="start-summarizer"
          class="btn btn-xs btn-secondary join-item btn-disabled"
        >
          <.icon name="hero-arrow-path" class="w-4 h-4 animate-spin" />
        </.link>
        <.link
          :if={@conversation_summarizer && @conversation_summarizer.status in [:waiting, :busy]}
          id="cancel-summarizer"
          phx-click="cancel-summarizer"
          phx-value-id={@conversation_summarizer.id}
          class="btn btn-xs btn-secondary join-item"
        >
          <.icon name="hero-x-mark" class="w-4 h-4" />
        </.link>
        <.link
          :if={@conversation_summarizer && @conversation_summarizer.status == :done}
          href={~p"/conversation_summarizers/#{@conversation_summarizer}"}
          class="btn btn-xs btn-secondary join-item"
        >
          <.icon name="hero-magnifying-glass" class="w-4 h-4" />
        </.link>
        <.button :if={!@conversation_summarizer} class="btn-xs btn-disabled join-item">
          <.icon name="hero-magnifying-glass" class="w-4 h-4" />
        </.button>
      </div>
      <div :if={!@summarizer} class="join">
        <.button class="btn btn-xs btn-secondary join-item btn-disabled">
          <.icon name="hero-play" class="w-4 h-4" />
        </.button>
        <.button class="btn btn-xs btn-secondary join-item btn-disabled">
          <.icon name="hero-magnifying-glass" class="w-4 h-4" />
        </.button>
      </div>

      <.summarize_conversation_button account={@current_user.selected_account} />
      <.form for={%{}} as={:zoom_form} phx-change="zoom" class="w-24" id="zoom-form">
        <input
          type="range"
          min="0"
          max="3"
          value={@zoom_level}
          class="range"
          step="1"
          name="zoom"
          id="zoom-input"
          phx-debounce="500"
        />
      </.form>
    </div>
  </div>
  <div id="statements" class="flex flex-col" phx-update="stream">
    <%= for {id, conversation_item} <- @streams.conversation_items do %>
      <%= case conversation_item do %>
        <% %{type: "statement", data: statement} -> %>
          <div id={id}>
            <div class="px-4 w-full flex flex-row items-center space-x-2">
              <.participant participant={statement.participant} class="" />
              <div class="text-xs">
                <%= render_date(statement.occurred_at, @current_user) %>
              </div>
            </div>
            <div class="chat chat-start">
              <div class={[
                "chat-bubble z-0",
                if(statement.call_id, do: "chat-bubble-accent"),
                if(statement.meeting_id, do: "chat-bubble-primary")
              ]}>
                <%= statement.content %>
              </div>
            </div>
          </div>
        <% %{type: "call_missed", timestamp: timestamp, data: call} -> %>
          <div id={id}>
            <div class="text-xs px-4">
              <%= render_date(timestamp, @current_user) %>
            </div>
            <div class="chat flex flex-row px-4">
              <div class="chat-bubble z-0 flex flex-row items-center space-x-2">
                <.icon name="hero-phone-x-mark" class="w-5 h-5 bg-error" />
                <.participant participant={call.from_participant} class="" />
              </div>
            </div>
          </div>
        <% %{type: "call_started", data: call, timestamp: timestamp} -> %>
          <div id={id}>
            <div class="text-xs px-4">
              <%= render_date(timestamp, @current_user) %>
            </div>
            <div class="chat flex flex-row px-4">
              <div class="chat-bubble z-0 flex flex-row items-center space-x-2">
                <.participant participant={call.from_participant} class="" />
                <.icon name="hero-phone-arrow-up-right" class="w-5 h-5 bg-success" />
                <.participant participant={call.to_participant} class="" />
              </div>
            </div>
          </div>
        <% %{type: "call_ended", timestamp: timestamp, data: call} -> %>
          <div id={id}>
            <div class="text-xs px-4">
              <%= render_date(timestamp, @current_user) %>
            </div>
            <div class="chat flex flex-row px-4">
              <div class="chat-bubble z-0 flex flex-row items-center space-x-4">
                <.icon name="hero-phone-arrow-down-left" class="w-5 h-5 bg-error" />
                <%= case call do %>
                  <% %{status: :file_uploaded, call_recording: recording, voicemail: voicemail} when recording != nil or voicemail != nil -> %>
                    <.transcribe_call_button call={call} account={@current_user.selected_account} />
                  <% %{status: :transcribing} -> %>
                    <.button class="btn-primary btn-sm" disabled>
                      <.icon name="hero-arrow-path" class="mr-2 w-5 h-5 animate-spin" />
                      Transcribing ...
                    </.button>
                  <% %{status: :transcribed} -> %>
                    <.icon name="hero-check-circle" class="ml-4 w-5 h-5 bg-success" />
                  <% %{status: :upload_empty} -> %>
                    <.icon name="hero-exclamation-circle" class="ml-4 w-5 h-5 bg-warning" />
                    <span class="text-warning">Call Recording Empty</span>
                  <% %{status: :upload_failed} -> %>
                    <.icon name="hero-exclamation-circle" class="ml-4 w-5 h-5 bg-warning" />
                    <span class="text-error">Error Uploading Recording</span>
                  <% %{status: :transcription_failed} -> %>
                    <.icon name="hero-exclamation-circle" class="ml-4 w-5 h-5 bg-warning" />
                    <span class="text-error">Error Transcribing Recording</span>
                <% end %>
              </div>
            </div>
          </div>
        <% %{type: "meeting_started", timestamp: timestamp} -> %>
          <div id={id}>
            <div class="text-xs px-4">
              <%= render_date(timestamp, @current_user) %>
            </div>
            <div class="chat flex flex-row px-4">
              <div class="chat-bubble z-0 flex flex-row items-center space-x-2">
                <.icon name="hero-calendar-days" class="mr-2 w-5 h-5" /> Meeting Started
              </div>
            </div>
          </div>
        <% %{type: "daily_summary", timestamp: timestamp, data: summary} -> %>
          <div id={id}>
            <div class="text-xs px-4">
              <%= render_day(timestamp, @current_user) %>
            </div>
            <div class="chat chat-start" id={id}>
              <div class="chat-bubble chat-bubble-secondary z-0">
                <%= summary.content %>
              </div>
            </div>
          </div>
        <% %{type: "weekly_summary", timestamp: timestamp, data: summary} -> %>
          <div id={id}>
            <div class="text-xs px-4">
              <%= render_week(timestamp, @current_user) %>
            </div>
            <div class="chat chat-start" id={id}>
              <div class={["chat-bubble z-0"]}>
                <%= summary.content %>
              </div>
            </div>
          </div>
        <% %{type: "monthly_summary", timestamp: timestamp, data: summary} -> %>
          <div id={id}>
            <div class="text-xs px-4">
              <%= render_month(timestamp, @current_user) %>
            </div>
            <div class="chat chat-start" id={id}>
              <div class={["chat-bubble z-0"]}>
                <%= summary.content %>
              </div>
            </div>
          </div>
      <% end %>
    <% end %>
  </div>
  <div class="flex-grow" />
</div>

<.paywall_modal current_user={@current_user} hide_modal={true} />
