<div class="flex flex-col flex-grow overflow-y-scroll min-w-fit" id="contacts">
  <%= for %{participants: [first, second]} = conversation <- @conversations do %>
    <a
      phx-click={JS.patch(~p{/conversations/#{conversation.id}})}
      class="w-full px-4 py-2 hover:bg-base-200"
      id={"conversation-picker-#{conversation.id}"}
    >
      <div class="flex flex-col">
        <div class="flex flex-row">
          <.participant participant={first} class="font-bold" />
        </div>
        <div class="flex flex-row">
          <.participant participant={second} class="font-light" />
        </div>
      </div>
    </a>
  <% end %>
</div>
<div class="flex flex-col overflow-y-scroll flex-grow-1 min-w-[50%]">
  <.participant_header conversation={@conversation} />
  <%= for statement <- @statements do %>
    <div class={["chat", @participant_sides[atomize(statement.participant_id)]]}>
      <div class="chat-bubble">
        <%= statement.content %>
      </div>
    </div>
  <% end %>
  <div class="flex-grow" />
</div>
