<div class="flex flex-row overflow-y-hidden w-screen">
  <div class="flex flex-col overflow-y-scroll min-w-fit h-screen">
    <div class="flex flex-row w-full bg-base-300 items-center justify-between py-2 px-4 sticky top-0 z-10 mb-2">
      Meetings
      <div class="flex flex-row space-x-2">
        <div phx-hook="ImportZoomMeetings" id="import-zoom-meetings">
          <.link :if={progress(@uploaded, @directories) == 100}>
            <.button class="btn-sm btn-success">
              <.icon name="hero-arrow-down-tray" class="w-4 h-4" />
            </.button>
          </.link>
          <div :if={progress(@uploaded, @directories) < 100}>
            <.button class="btn-sm btn-disabled">
              <div
                class="radial-progress"
                style={"--value:#{progress(@uploaded, @directories)}; --size:1rem;"}
              />
            </.button>
          </div>
        </div>
        <.link
          :if={progress(@uploaded, @directories) == 100}
          patch={~p"/meetings/new"}
          id="new-meeting"
        >
          <.button class="btn-sm btn-success">
            <.icon name="hero-plus" class="w-4 h-4" />
          </.button>
        </.link>
      </div>
    </div>
    <div id="meetings" phx-update="stream">
      <div :for={{id, meeting} <- @streams.meetings} class="flex flex-row justify-between" id={id}>
        <.link
          phx-click={meeting.id && JS.patch(~p"/meetings/#{meeting.id}/show")}
          class="hover:bg-base-200"
        >
          <div class="flex flex-row items-center">
            <div class="flex flex-col">
              <div class="flex flex-row">
                <%= Calendar.strftime(meeting.occurred_at, "%y-%m-%d %I:%M %p") %>, <%= meeting.source
                |> Atom.to_string()
                |> Recase.to_sentence() %>
              </div>
              <div class="text-xs w-48">
                <%= meeting.name %>
              </div>
            </div>
          </div>
        </.link>
        <div class="flex flex-row">
          <div class="items-center">
            <.icon
              :if={meeting.upload_status == :created}
              name="hero-ellipsis-horizontal"
              class="w-4 h-4 m-1"
            />
            <.icon
              :if={meeting.upload_status == :files_uploading}
              name="hero-arrow-path"
              class="w-4 h-4 animate-spin m-1"
            />
            <.icon
              :if={
                meeting.upload_status == :files_uploaded and
                  "video/mp4" in (meeting.files |> Enum.map(& &1.metadata["type"]))
              }
              name="hero-arrow-path"
              class="w-4 h-4 animate-spin m-1"
            />
            <.icon
              :if={
                meeting.upload_status == :files_uploaded and
                  "video/mp4" not in (meeting.files |> Enum.map(& &1.metadata["type"]))
              }
              name="hero-check"
              class="w-4 h-4 bg-success m-1"
            />
          </div>
          <div
            id={"projector-status-#{meeting.id}"}
            class="tooltip tooltip-left"
            data-tip="Transcribe"
          >
            <.link
              :if={meeting.projector_status == :not_started}
              id={"transcribe-#{id}"}
              phx-click={paywall("transcribe", @current_user.selected_account)}
              phx-value-id={meeting.id}
            >
              <.icon name="hero-microphone" class="w-4 h-4 m-1" />
            </.link>

            <.icon
              :if={meeting.projector_status == :in_progress}
              name="hero-arrow-path"
              class="w-4 h-4 animate-spin m-1"
            />
            <.icon
              :if={meeting.projector_status == :done}
              name="hero-check"
              class="w-4 h-4 bg-success m-1"
            />
            <.icon
              :if={meeting.projector_status == :error}
              name="hero-x-mark"
              class="w-4 h-4 bg-error m-1"
            />
          </div>
          <div id={"assignment-status-#{meeting.id}"}>
            <.icon :if={meeting.conversation_id} name="hero-check" class="w-4 h-4 bg-success m-1" />
            <.icon
              :if={!meeting.conversation_id}
              name="hero-ellipsis-horizontal"
              class="w-4 h-4 m-1"
            />
          </div>
          <.link
            phx-click={JS.push("delete", value: %{id: meeting.id}) |> hide("##{id}")}
            data-confirm="Are you sure?"
            class="hover:bg-base-200 items-center"
            id={"delete-#{id}"}
          >
            <.icon name="hero-trash" class="w-4 h-4 m-1" />
          </.link>
        </div>
      </div>
    </div>
    <div
      :if={!@end_of_timeline?}
      id="last-element"
      phx-hook="ElementVisible"
      class="pb-[calc(100vh)]"
    />
    <div :if={@end_of_timeline?} id="last-element" class="mx-2">Last Meeting</div>
  </div>
  <div class="flex flex-col overflow-y-auto overflow-x-hidden flex-grow">
    <div class="p-4">
      <.live_component
        :if={@live_action == :show}
        id={@meeting.id}
        module={DiscussitWeb.MeetingLive.ShowComponent}
        meeting={@meeting}
        current_user={@current_user}
        action={@live_action}
      />
    </div>
  </div>
</div>

<.modal
  :if={@live_action in [:new, :edit]}
  id="meeting-modal"
  show
  on_cancel={JS.patch(~p"/meetings")}
  close_confirm="Are you sure you want to close the modal?"
>
  <.live_component
    module={DiscussitWeb.MeetingLive.FormComponent}
    id={@meeting.id || :new}
    title={@page_title}
    action={@live_action}
    meeting={@meeting}
    current_user={@current_user}
    patch={~p"/meetings"}
  />
</.modal>
