<div>
  <.header>
    Meeting <%= @meeting.id %>
    <:subtitle>This is a meeting record from your database.</:subtitle>
    <:actions></:actions>
  </.header>

  <.back navigate={~p"/meetings"}>Back to meetings</.back>

  <.list>
    <:item title="Provider"><%= @meeting.source %></:item>
    <:item title="Occurred at"><%= @meeting.occurred_at %></:item>
  </.list>

  <h2 class="leading-8 font-semibold text-md py-4">Files</h2>

  <p :for={file <- @meeting.files}>
    <%= file.metadata["name"] %>
  </p>

  <h2 class="leading-8 font-semibold text-md py-4">Participants</h2>

  <div class="flex flex-col space-y-4 px-2">
    <.live_component
      :for={participant <- @meeting.participants}
      module={DiscussitWeb.MeetingLive.ParticipantFinder}
      id={"participant-finder-#{participant.id}"}
      participant={participant}
      meeting={@meeting}
      account_id={@current_user.selected_account_id}
      notify={@myself}
    />
  </div>

  <div class="flex flex-row py-4 items-center space-x-4">
    <h2 class="leading-8 font-semibold text-md">Conversation</h2>

    <div id="meeting-assignment-status">
      <div :if={@meeting.conversation_id != nil} class="badge badge-success gap-2">
        <.icon name="hero-check" class="w-3 h-3" /> assigned
      </div>
      <div :if={@meeting.conversation_id == nil} class="badge badge-warning gap-2">
        <.icon name="hero-x-mark" class="w-3 h-3" /> unassigned
      </div>
    </div>
  </div>

  <div :if={all_participants_assigned?(@meeting)} id="assign-conversation">
    <div :for={conversation <- @conversations} :if={length(@conversations) > 0} class="my-4">
      <.button
        id={"assign-conversation-#{conversation.id}"}
        class="btn btn-sm btn-primary mr-4"
        phx-click="assign-to-conversation"
        phx-value-id={conversation.id}
        phx-target={@myself}
      >
        Assign
      </.button>
      <span :if={conversation.name}>
        <%= conversation.name %>
      </span>
      <span :for={participant <- conversation.participants} :if={conversation.name == nil}>
        <%= participant.contact.first_name %> <%= participant.contact.last_name %>
      </span>
    </div>
    <div :if={@meeting.projector_status in [:done] && !@meeting.conversation_id}>
      <.button
        id="create-conversation"
        class="btn btn-sm btn-success"
        phx-click={JS.push("create-conversation")}
        phx-target={@myself}
      >
        Create Conversation
      </.button>
    </div>
    <div :if={@meeting.conversation_id} class="flex flex-row items-center space-x-4">
      <.link href={~p"/conversations/#{@meeting.conversation_id}"}>
        <%= render_conversation_name(@meeting.participants) %>
      </.link>
      <.button
        id="remove-from-conversation"
        class="btn btn-xs btn-error"
        phx-click="remove-from-conversation"
        phx-target={@myself}
      >
        <.icon name="hero-x-mark-solid" />
      </.button>
    </div>
  </div>

  <div id="statements" class="py-4" phx-update="stream">
    <%= for {id, statement} <- @streams.statements do %>
      <div id={id}>
        <div class="px-4 w-full flex flex-row items-center space-x-2">
          <.participant participant={statement.participant} class="" />
          <div class="text-xs">
            <%= render_date(statement.occurred_at, @current_user) %>
          </div>
        </div>
        <div class="chat chat-start">
          <div class={["chat-bubble z-0", if(statement.call_id, do: "bg-accent")]}>
            <%= statement.content %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
