<.header>
  Meeting <%= @meeting.id %>
  <:subtitle>This is a meeting record from your database.</:subtitle>
  <:actions></:actions>
</.header>

<.back navigate={~p"/meetings"}>Back to meetings</.back>

<.list>
  <:item title="Provider"><%= @meeting.source %></:item>
  <:item title="Occurred at"><%= @meeting.occurred_at %></:item>
</.list>

<%= for statement <- @meeting.statements do %>
  <.live_component
    module={DiscussitWeb.MeetingLive.ParticipantFinder}
    id={"participant-finder-#{statement.participant.id}"}
    participant={statement.participant}
    account_id={@user_setting.selected_account_id}
  />
  <div class="px-4 w-full flex flex-row items-center space-x-2">
    <.participant participant={statement.participant} class="" />
    <div class="text-xs">
      <%= render_date(statement.occurred_at, @user_setting) %>
    </div>
  </div>
  <div class="chat chat-start">
    <div class={["chat-bubble z-0", if(statement.call_id, do: "bg-accent")]}>
      <%= statement.content %>
    </div>
  </div>
<% end %>

<.modal
  :if={@live_action == :edit}
  id="meeting-modal"
  show
  on_cancel={JS.patch(~p"/meetings/#{@meeting}")}
>
  <.live_component
    module={DiscussitWeb.MeetingLive.FormComponent}
    id={@meeting.id}
    title={@page_title}
    action={@live_action}
    meeting={@meeting}
    patch={~p"/meetings/#{@meeting}"}
  />
</.modal>
