<div class="flex flex-row overflow-y-hidden w-screen max-w-screen">
  <div class="flex flex-col overflow-y-auto w-full">
    <div class="flex flex-row w-full bg-base-300 items-center justify-between py-2 px-4 sticky top-0 z-10 mb-2">
      Summarizers
      <.link patch={~p"/summarizers/new"}>
        <.button class="btn-sm btn-success">+</.button>
      </.link>
    </div>

    <div class="px-12">
      <.table
        id="summarizers"
        rows={@streams.summarizers}
        row_click={fn {_id, summarizer} -> JS.navigate(~p"/summarizers/#{summarizer}") end}
      >
        <:col :let={{_id, summarizer}} label="Name"><%= summarizer.name %></:col>
        <:action :let={{_id, summarizer}}>
          <div class="sr-only">
            <.link navigate={~p"/summarizers/#{summarizer}"}>Show</.link>
          </div>
          <.link patch={~p"/summarizers/#{summarizer}/edit"}>Edit</.link>
        </:action>
        <:action :let={{id, summarizer}}>
          <.link
            phx-click={JS.push("delete", value: %{id: summarizer.id}) |> hide("##{id}")}
            data-confirm="Are you sure?"
          >
            Delete
          </.link>
        </:action>
      </.table>
    </div>
  </div>
</div>

<.modal
  :if={@live_action in [:new, :edit]}
  id="summarizer-modal"
  show
  on_cancel={JS.patch(~p"/summarizers")}
>
  <.live_component
    module={DiscussitWeb.SummarizerLive.FormComponent}
    id={@summarizer.id || :new}
    title={@page_title}
    action={@live_action}
    summarizer={@summarizer}
    current_user={@current_user}
    patch={~p"/summarizers"}
  />
</.modal>
