<.header>
  Listing Summarizers
  <:actions>
    <.link patch={~p"/summarizers/new"}>
      <.button>New Summarizer</.button>
    </.link>
  </:actions>
</.header>

<.table
  id="summarizers"
  rows={@streams.summarizers}
  row_click={fn {_id, summarizer} -> JS.navigate(~p"/summarizers/#{summarizer}") end}
>
  <:col :let={{_id, summarizer}} label="Prompt"><%= summarizer.prompt %></:col>
  <:action :let={{_id, summarizer}}>
    <div class="sr-only">
      <.link navigate={~p"/summarizers/#{summarizer}"}>Show</.link>
    </div>
    <.link patch={~p"/summarizers/#{summarizer}/edit"}>Edit</.link>
  </:action>
  <:action :let={{id, summarizer}}>
    <.link
      phx-click={JS.push("delete", value: %{id: summarizer.id}) |> hide("##{id}")}
      data-confirm="Are you sure?"
    >
      Delete
    </.link>
  </:action>
</.table>

<.modal
  :if={@live_action in [:new, :edit]}
  id="summarizer-modal"
  show
  on_cancel={JS.patch(~p"/summarizers")}
>
  <.live_component
    module={DiscussitWeb.SummarizerLive.FormComponent}
    id={@summarizer.id || :new}
    title={@page_title}
    action={@live_action}
    summarizer={@summarizer}
    patch={~p"/summarizers"}
  />
</.modal>
