<.header>
  Summarizer <%= @summarizer.id %>
  <:subtitle>This is a summarizer record from your database.</:subtitle>
  <:actions>
    <.link patch={~p"/summarizers/#{@summarizer}/show/edit"} phx-click={JS.push_focus()}>
      <.button>Edit summarizer</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Prompt"><%= @summarizer.prompt %></:item>
</.list>

<.back navigate={~p"/summarizers"}>Back to summarizers</.back>

<.modal :if={@live_action == :edit} id="summarizer-modal" show on_cancel={JS.patch(~p"/summarizers/#{@summarizer}")}>
  <.live_component
    module={DiscussitWeb.SummarizerLive.FormComponent}
    id={@summarizer.id}
    title={@page_title}
    action={@live_action}
    summarizer={@summarizer}
    patch={~p"/summarizers/#{@summarizer}"}
  />
</.modal>
