<header class="px-4 sm:px-6 lg:px-8">
  <div class="flex items-center justify-between border-b border-zinc-100 py-3">
    <div class="flex items-center gap-4">
      <a href="/">
        <svg
          zoomAndPan="magnify"
          viewBox="0 0 375 374.999991"
          preserveAspectRatio="xMidYMid meet"
          version="1.0"
          xmlns="http://www.w3.org/2000/svg"
          class="h-8 w-8"
        >
          <g clip-path="url(#59cc712386)">
            <g clip-path="url(#836ade3fce)">
              <ellipse class="fill-secondary" cx="91.196" cy="140.366" rx="31.022" ry="31.022">
              </ellipse>
            </g>
          </g>
          <path
            class="fill-primary"
            d="M 119.578 279.914 L 166.215 279.914 C 217.613 279.914 259.289 238.258 259.289 186.883 C 259.289 135.504 217.613 93.852 166.215 93.852 L 63.609 93.648 L 63.609 37.449 L 166.215 37.449 C 248.777 37.449 315.715 104.355 315.715 186.883 C 315.715 269.406 248.777 336.316 166.215 336.316 L 63.609 336.316 L 63.609 183.745 L 119.578 183.72 L 119.578 279.914"
            fill-opacity="1"
            fill-rule="nonzero"
            clip-path="url(#76231ff092)"
          >
          </path>
        </svg>
      </a>
      <p class="rounded-full bg-brand/5 px-2 text-[0.8125rem] font-medium leading-6 text-brand">
        Discussit
      </p>
    </div>
  </div>
</header>
<main class="px-4 py-20 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-2xl">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
