<style>
  body {
    min-height: 100vh;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
  }

  html {
    height: fill-available;
    height: -webkit-fill-available;
  }
</style>

<div max_width="full" class="container overflow-auto h-screen max-w-full flex-grow flex flex-col">
  <.flash_group flash={@flash} />
  <div class="flex flex-row flex-grow overflow-hidden">
    <div class="flex flex-col space-y-2 overflow-y-none flex-grow-0 bg-base-300 p-2">
      <div class="dropdown dropdown-right">
        <label tabindex="0">
          <div class="flex flex-row-reverse items-center justify-items-end hover:cursor-pointer">
            <div class="btn btn-ghost btn-sm px-2">
              <.icon name="hero-user" class="w-5 h-5" />
            </div>
            <div class="dropdown-label mr-2 hidden">
              <%= @current_user.email %>
            </div>
          </div>
        </label>
        <ul tabindex="0" class="dropdown-content z-[1] menu p-2 bg-base-300 rounded-box w-52">
          <li><.link href={~p"/users/settings"}>Settings</.link></li>
          <li><.link href={~p"/users/log_out"} method="delete">Log Out</.link></li>
        </ul>
      </div>

      <.live_component
        module={OpenphoneRecorderWeb.UserSettingLive.AccountPickerFormComponent}
        id="account-picker"
        account_id={@user_setting.selected_account_id}
        user={@current_user}
        user_setting={@user_setting}
        class="flex-grow"
      />
      <div
        class="flex-grow"
        phx-click={JS.toggle(to: ".dropdown-label", in: "fade-in-scale", out: "fade-out-scale")}
        id="sidebar-toggle"
      />
    </div>
    <%= @inner_content %>
  </div>
</div>
