<.header>
  Admin
</.header>

<h2>Set Count</h2>

<.form :let={f} for={%{}} as={:consumer} id="count-form" phx-submit="set_count">
  <input id={:count} name={:count} /><br />
  <button class="btn btn-success">Save</button>
</.form>
