<div class="p-4 w-full overflow-y-scroll">
  <.live_component
    module={DiscussitWeb.AccountLive.FormComponent}
    id={@account.id || :new}
    title={@page_title}
    action={@live_action}
    account={@account}
    patch={~p"/accounts/edit_standalone"}
    current_user={@current_user}
  />
</div>
