<div class="p-4 w-full">
  <.live_component
    module={DiscussitWeb.AccountLive.FormComponent}
    id={:new}
    title={@page_title}
    action={:new}
    account={@account}
    redirect={~p"/home"}
    current_user={@current_user}
  />
</div>

