<%= if(@account == nil) do %>
  <.header>
    Listing Accounts
    <:actions>
      <.link patch={~p"/accounts/new"}>
        <.button>New Account</.button>
      </.link>
    </:actions>
  </.header>

  <.table
    id="accounts"
    rows={@streams.accounts}
    row_click={fn {_id, account} -> JS.navigate(~p"/accounts/#{account}") end}
  >
    <:col :let={{_id, account}} label="Name"><%= account.name %></:col>
    <:col :let={{_id, account}} label="Plan"><%= account.plan %></:col>
    <:action :let={{_id, account}}>
      <div class="sr-only">
        <.link navigate={~p"/accounts/#{account}"}>Show</.link>
      </div>
      <.link patch={~p"/accounts/#{account}/edit"}>Edit</.link>
    </:action>
    <:action :let={{id, account}}>
      <.link
        phx-click={JS.push("delete", value: %{id: account.id}) |> hide("##{id}")}
        data-confirm="Are you sure?"
      >
        Delete
      </.link>
    </:action>
  </.table>
<% end %>

<div class="flex flex-col overflow-y-scroll overflow-x-hidden flex-grow">
  <div class="p-4">
    <.live_component
      :if={@account}
      module={DiscussitWeb.AccountLive.FormComponent}
      id={@account.id || :new}
      title={@page_title}
      action={@live_action}
      account={@account}
      patch={~p"/accounts"}
      current_user={@current_user}
    />
  </div>
</div>