<.header>
  Account <%= @account.name %>
  <:actions>
    <.link patch={~p"/accounts/#{@account}/show/edit"} phx-click={JS.push_focus()}>
      <.button>Edit account</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Plan"><%= @account.plan |> Atom.to_string() |> String.capitalize() %></:item>
  <:item title="Timezone"><%= @account.timezone %></:item>
  <:item title="Openphone Webhook URL"><%= url(~p"/api/events/#{@account.id}") %></:item>
  <:item title="OpenAI Signing Secret">
    <%= render_sensitive_string(@account.openphone_signing_secret) %>
  </:item>
  <:item title="Embeddings">
    <%= if @account.enable_embeddings, do: "Embeddings Enabled", else: "Embeddings Disabled" %>
  </:item>
  <:item title="Openphone Signing Secret">
    <%= render_sensitive_string(@account.openai_api_key) %>
  </:item>
  <:item title="Billing User">
    <div :if={@account.billing_user}><%= @account.billing_user.name %></div>
    <div :if={!@account.billing_user}>No Billing User Selected</div>
  </:item>
</.list>

<div class="mt-4">
  <.header>Account Users</.header>
</div>

<.table class="!mb-0" id="account_users" rows={@account.account_users}>
  <:col :let={account_user} label="Email"><%= account_user.user.email %></:col>
  <:action :let={account_user}>
    <a to="#" phx_click="delete-account-user" phx_value_id={account_user.id}>Remove</a>
  </:action>
</.table>

<.live_component
  module={DiscussitWeb.AccountUserLive.FormComponent}
  id="account-user-form"
  account_id={@account.id}
  patch={~p"/accounts/#{@account}"}
  current_user={@current_user}
  account_user={%Discussit.AccountUsers.AccountUser{}}
/>

<div class="my-4">
  <.header>Payment Methods</.header>
</div>

<div :if={@default} class="flex flex-row">
  <.button class="rounded-r-none btn-success">
    <.icon name="hero-check-circle" />
  </.button>
  <div class="bg-success flex flex-row py-2 px-4 items-center space-x-8">
    <div>
      <p class="font-medium tracking-more-wider text-secondary-content">
        <%= "****  ****  ****  #{@default.card.last4}" %>
      </p>
    </div>
    <div>
      <p class="font-medium tracking-wider text-secondary-content">
        <%= @default.card.exp_month %>/<%= @default.card.exp_year %>
      </p>
    </div>
  </div>
  <.button
    phx-click="remove-card"
    phx-value-id={@default.id}
    class="rounded-l-none btn-error"
    disabled
  >
    <.icon name="hero-trash" />
  </.button>
</div>

<div :if={length(@payment_methods) > 0} class="flex flex-col space-y-4 my-4">
  <div :for={method <- @payment_methods} class="flex flex-row">
    <.button
      class="rounded-r-none btn-success"
      phx-click="default-payment-method"
      phx-value-id={method.id}
    >
      <.icon name="hero-check-circle" />
    </.button>
    <div class="bg-secondary flex flex-row py-2 px-4 items-center space-x-8">
      <div>
        <p class="font-medium tracking-more-wider text-secondary-content">
          <%= "****  ****  ****  #{method.card.last4}" %>
        </p>
      </div>
      <div>
        <p class="font-medium tracking-wider text-secondary-content">
          <%= method.card.exp_month %>/<%= method.card.exp_year %>
        </p>
      </div>
    </div>
    <.button phx-click="remove-card" phx-value-id={method.id} class="rounded-l-none btn-error">
      <.icon name="hero-trash" />
    </.button>
  </div>
</div>
<.link patch={~p{/accounts/#{@account.id}/show/add_payment}}>
  <.button class="btn-primary my-4">Add Payment Method</.button>
</.link>
<.back navigate={~p"/accounts"}>Back to accounts</.back>

<.modal
  :if={@live_action == :edit}
  id="account-modal"
  show
  on_cancel={JS.patch(~p"/accounts/#{@account}")}
>
  <.live_component
    module={DiscussitWeb.AccountLive.FormComponent}
    id={@account.id}
    title={@page_title}
    action={@live_action}
    account={@account}
    patch={~p"/accounts/#{@account}"}
    current_user={@current_user}
  />
</.modal>

<.modal
  :if={@live_action == :add_payment}
  id="payment-modal"
  show
  on_cancel={JS.patch(~p"/accounts/#{@account}")}
>
  <.live_component
    module={DiscussitWeb.AccountLive.PaymentFormComponent}
    id={"#{@account.id}"}
    account={@account}
    patch={~p"/accounts/#{@account}"}
    current_user={@current_user}
    title="Add a Credit Card to Your Account"
    subtitle=""
  />
</.modal>
