<%= assigns[:title] %> ================================
<%= @inner_content %> ================================
Copyright <%= DateTime.utc_now().year %> Discussit Inc. All rights reserved.
Discussit Inc
743 East Broadway 153
40202 Louisville, KY
