<div class="mail__wrapper max-w-md mx-auto">
  <div class="mail__content bg-white p-8 shadow-md">
    <div class="content__header text-center tracking-wide border-b">
      <div class="text-red text-sm font-bold">DISCUSSIT</div>
      <h1 class="text-3xl h-48 flex items-center justify-center">Reset password</h1>
    </div>

    <div class="content__body py-8 border-b">
      <p>
        Hey,
        <br /><br />Someone requested a password reset email at Discussit. If you didn't request it, please disregard this email. Click the button below to reset your password.
      </p>
      <a href={@url}>
        <div class="text-white text-sm tracking-wide bg-primary rounded-md my-8 p-4 gap-2 font-semibold no-underline">
          RESET PASSWORD
        </div>
      </a>
      <p class="text-sm">
        Stay Secure!<br /> Your Discussit team
      </p>
    </div>

    <div class="content__footer mt-8 text-center text-grey-darker">
      <h3 class="text-base sm:text-lg mb-4">Thanks for using Discussit!</h3>
      <p>www.discussit.app</p>
    </div>
  </div>

  <div class="meta__help">
    <p class="leading-loose">
      Questions or concerns?
      <a href="mailto:contact@discussit.app" class="text-grey-darkest">contact@discussit.app</a>

      <br /> Want to quit getting updates? <a href="#" class="text-grey-darkest">Unsubscribe</a>
    </p>
  </div>
</div>
